body {
  background: linear-gradient(to left, #9bc5c3, #DDEFBB);
}

.container {
  padding: 0em;
}


/* .video-container {
  border-radius: 20px;
  width: 300px;
  height: 300px;
} */

.results {
  width: 300px;
  border-radius: 10px;
  background-color: white;
}

.wrapper {
  background-color: white;
  border-radius: 10px;
  position: relatives;
  pointer-events: none;
  margin: 0px 0px 0px 0px;
}

canvas {
  background-color: white;
  margin: 0px 0px 0px 0px;
  width: 300px;
}

#chart {
  width: 67%;
  height: 400px;
  max-height: 150%;
  max-width: 100%;
  border-radius: 10px;
  margin: 0px 0px 0px 0px;
}

.videoPlaceholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 640px;
  height: 480px;
  border-radius: 20px;
  background-color: black;
  color: white;
}

/* .notes-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
} */

/* .notes-title {

} */

.notes {
  width: 80%;
  height: 50px;
  resize: none;
}

.end-session {
  width: 50%;
  margin-top: 20px;
}
/* .video-container {
width: 50px;
height: 50px;
} */