body {
  background: linear-gradient(to left, #9bc5c3, #ddefbb);
}

section {
  margin: 70px 40px 0px 40px;
}

video {
  border-radius: 20px;
}

.camera-frame {
  display: flex;
  align-items: center;
  justify-content: center;
}

.results {
  border-radius: 10px;
  background-color: white;
  margin-right: 25px;
}

.wrapper {
  position: relative;
  top: 0;
  background-color: white;
  border-radius: 10px;
  pointer-events: none;
  margin: 0px 40px 30px 0px;
}

canvas {
  background-color: white;
  margin: 0px 0px 0px 0px;
  width: 400px;
}

#chart.charts {
  width: 67%;
  height: 240px;
  max-height: 70%;
  max-width: 70%;
  border-radius: 10px;
  margin: 0px 0px 0px 0px;
}

.videoPlaceholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 640px;
  height: 480px;
  border-radius: 20px;
  background-color: black;
  color: white;
}

.notes-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.notes-title {
  position: relative;
  top: -40px;
  left: 45px;
}

.notes {
  width: 80%;
  height: 50px;
  resize: none;
}

.end-session {
  width: 50%;
  margin-top: 20px;
}
