body {
  background-color: rgb(241, 241, 241);
}

.container {
  overflow-x: hidden;
}

video {
  border-radius: 20px;
}

.results {
  border-radius: 10px;
  background-color: white;
}

canvas {
  background-color: white;
}

.wrapper {
  border-radius: 10px;
  position: relatives;
  width: 150%;
  height: 150%;
  pointer-events: none;
}

.charts {
  width: 67%;
  height: 240px;
  max-height: 70%;
  max-width: 70%;
  border-radius: 10px;
}

.videoPlaceholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 640px;
  height: 480px;
  border-radius: 20px;
  background-color: black;
  color: white;
}

.notes-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.notes-title {
  position: relative;
  top: -40px;
  left: 45px;
}

.notes {
  width: 80%;
  height: 50px;
  resize: none;
}

.end-session {
  width: 50%;
  margin-top: 20px;
}
