<div class="form-container">
  <form
    action="submit"
    [formGroup]="patientData"
    (submit)="updatePatient(patientData.value)"
  >
  <div class="modal-dialog modal-dialog-centered mt-5">
    <div class="modal-body">
    <div>
      <label for="name">Name</label>
      <br />
      <input
        type="text"
        id="name"
        class="input"
        [placeholder]="patient.name"
        formControlName="name"
      />
    </div>
    <div>
      <label for="last_name">Last Name</label>
      <br />
      <input
        type="text"
        id="last_name"
        class="input"
        [placeholder]="patient.last_name"
        formControlName="last_name"
      />
    </div>
    <div>
      <label for="email">Email</label>
      <br />
      <input
        type="email"
        id="email"
        class="input"
        [placeholder]="patient.email"
        formControlName="email"
      />
    </div>
    <div>
      <label for="age">Age</label>
      <br />
      <input
        type="number"
        id="age"
        class="input"
        [placeholder]="patient.age"
        formControlName="age"
      />
    </div>
    <div>
      <label for="gender">Gender</label>
      <br />
      <input
        type="text"
        id="gender"
        class="input"
        [placeholder]="patient.gender"
        formControlName="gender"
      />
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="closeModal()">
        Close
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        data-bs-dismiss="modal"
        (click)="closeModal()"
      >
        Save
      </button>
    </div>
    </div>
    </div>
  </form>
</div>
