<form
  action="submit"
  [formGroup]="patientData"
  (submit)="updatePatient(patientData.value)"
>
  <div class="modal-edit">
    <div class="modal-header">
      <h5 class="modal-title">Editar paciente</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="closeModal()"
      ></button>
    </div>
    <div class="modal-body">
      <div>
        <label for="name">Nombre</label>
        <br />
        <input
          type="text"
          id="name"
          class="form-control"
          [placeholder]="patient.name"
          formControlName="name"
        />
      </div>
      <div>
        <label for="last_name">Apellidos</label>
        <br />
        <input
          type="text"
          id="last_name"
          class="form-control"
          [placeholder]="patient.last_name"
          formControlName="last_name"
        />
      </div>
      <div>
        <label for="email">Correo electrónico</label>
        <br />
        <input
          type="email"
          id="email"
          class="form-control"
          [placeholder]="patient.email"
          formControlName="email"
        />
      </div>
      <div>
        <label for="age">Edad</label>
        <br />
        <input
          type="number"
          id="age"
          class="form-control"
          [placeholder]="patient.age"
          formControlName="age"
        />
      </div>
      <div>
        <label for="gender">Género</label>
        <br />
        <input
          type="text"
          id="gender"
          class="form-control"
          [placeholder]="patient.gender"
          formControlName="gender"
        />
      </div>
      <div>
        <label for="gender">Número telefónico</label>
        <br />
        <input
          type="text"
          id="phone"
          class="form-control"
          [placeholder]="patient.phone"
          formControlName="phone"
        />
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary button" (click)="closeModal()">
        Cerrar
      </button>
      <button
        type="submit"
        class="btn btn-primary button"
        (click)="closeModal()"
      >
        Guardar
      </button>
    </div>
  </div>
</form>
