<head>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />
</head>

<body>
  <section>
    <div class="container">
      <div class="row vh-100 justify-content-around align-items-center">
        <div class="col-lg-2">
          <div class="mb-2">
            <div class="card-body text-center">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                alt="avatar"
                class="rounded-circle img-fluid"
                style="width: 150px"
              />
              <h5 class="my-3 fs-1">{{ user.name }}</h5>
              <p class="text-muted fs-5">Psychologist</p>
            </div>
          </div>
        </div>

        <div class="col-lg-8">
          <div class="row vh-100 align-items-center">
            <div class="table-wrapper">
              <div class="table-title">
                <div class="row">
                  <div class="col-sm-8">
                    <h2>Patient Details</h2>
                  </div>
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-info add-new">
                      <i class="fa fa-plus"></i> Add New
                    </button>
                  </div>
                  <!-- Form -->
                  <!-- Form  -->
                </div>
              </div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <td>#</td>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let patient of patients; index as i">
                    <td>{{ i + 1 }}</td>
                    <td>{{ patient.name }}</td>
                    <td>{{ patient.last_name }}</td>
                    <td>{{ patient.age }}</td>
                    <td>{{ patient.gender }}</td>
                    <td>{{ patient.email }}</td>
                    <td>
                      <a class="add" title="Add" data-toggle="tooltip"
                        ><i class="material-icons">&#xE03B;</i></a
                      >
                      <a
                        href="patient-profile"
                        (click)="getPatientId(i)"
                        class="view"
                        title="View"
                        data-toggle="tooltip"
                        ><i class="material-icons">&#xE417;</i></a
                      >
                      <a
                        class="edit"
                        title="Edit"
                        data-toggle="tooltip"
                        (click)="showPatient()"
                        ><i class="material-icons">&#xE254;</i></a
                      >
                      <a class="delete" title="Delete" data-toggle="tooltip"
                        ><i class="material-icons">&#xE872;</i></a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
