<head>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />
</head>

<body>
  <section>
    <div class="container">
      <div class="row vh-100 justify-content-around align-items-center">
        <div class="col-lg-2 avatar">
          <div class="mb-2">
            <div class="card-body text-center">
              <p class="text-muted fs-4">Psychologist</p>
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                alt="avatar"
                class="rounded-circle img-fluid"
                style="width: 150px"
              />
              <h5 class="my-3 fs-1">{{ user.name }}</h5>
              <h5 class="my-3 fs-3">{{ user.last_name }}</h5>
              <h5 class="my-3 fs-6">{{ user.email }}</h5>
            </div>
          </div>
        </div>

        <div class="col-lg-9">
          <div class="row vh-100 align-items-center">
            <div class="table-wrapper">
              <div class="table-title">
                <div class="row">
                  <div class="col-sm-8">
                    <h2>Patient Details</h2>
                  </div>
                  <div class="col-sm-4">
                    <!-- Button trigger modal add new patient -->
                    <button
                      type="button"
                      class="btn btn-info add-new"
                      data-bs-toggle="modal"
                      data-bs-target="#addNewPatient"
                    >
                      <i class="fa fa-plus"></i> Add New
                    </button>
                  </div>
                  <!-- Modal add new patient -->
                  <form
                    action="submit"
                    [formGroup]="patientData"
                    (submit)="submitPatient(user._id, patientData.value)"
                  >
                    <div
                      class="modal fade"
                      id="addNewPatient"
                      data-bs-backdrop="static"
                      data-bs-keyboard="false"
                      tabindex="-1"
                      aria-labelledby="staticBackdropLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog modal-dialog-centered mt-5">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="addNewPatient">
                              Add New Patient
                            </h5>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>

                          <div class="modal-body">
                            <div class="form-floating mb-2">
                              <input
                                type="string"
                                class="form-control"
                                id="floatingInput"
                                placeholder="Name"
                                formControlName="name"
                                autocomplete="given-name"
                              />
                              <label for="floatingInput">Name</label>
                            </div>
                            <div class="form-floating mb-2">
                              <input
                                type="string"
                                class="form-control"
                                id="floatingPassword"
                                placeholder="Estrada"
                                formControlName="last_name"
                                autocomplete="family-name"
                              />
                              <label for="floatingInput">Last Name</label>
                            </div>
                            <div class="form-floating mb-2">
                              <input
                                type="number"
                                class="form-control"
                                id="floatingInput"
                                placeholder="25"
                                formControlName="age"
                                autocomplete="off"
                              />
                              <label for="floatingInput">Age</label>
                            </div>
                            <div class="form-floating mb-2">
                              <input
                                list="gender"
                                class="form-control"
                                id="floatingPassword"
                                placeholder="Male"
                                formControlName="gender"
                                autocomplete="off"
                              />
                              <datalist id="gender">
                                <option value="Male"></option>
                                <option value="Female"></option>
                              </datalist>
                              <label for="floatingInput">Gender</label>
                            </div>
                            <div class="form-floating mb-2">
                              <input
                                type="email"
                                class="form-control"
                                id="floatingInput"
                                placeholder="name@example.com"
                                formControlName="email"
                                autocomplete="email"
                              />
                              <label for="floatingInput">E-mail</label>
                            </div>
                            <div class="form-floating mb-2">
                              <input
                                type="phone"
                                class="form-control"
                                id="floatingInput"
                                placeholder="(614) 195 50 41"
                                formControlName="phone"
                                autocomplete="tel"
                              />
                              <label for="floatingInput">Phone Number</label>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-secondary"
                              data-bs-dismiss="modal"
                            >
                              Close
                            </button>
                            <button
                              type="submit"
                              class="btn btn-primary"
                              data-bs-dismiss="modal"
                            >
                              Save
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- tabla de pacientes -->
              <div class="patients">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <td>#</td>
                      <th>Name</th>
                      <th>Last Name</th>
                      <th>Age</th>
                      <th>Gender</th>
                      <th>Email</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let patient of patients; index as i">
                      <td>{{ i + 1 }}</td>
                      <td>{{ patient.name }}</td>
                      <td>{{ patient.last_name }}</td>
                      <td>{{ patient.age }}</td>
                      <td>{{ patient.gender }}</td>
                      <td>{{ patient.email }}</td>
                      <td>
                        <a
                          type="button"
                          class="view"
                          title="View"
                          data-toggle="tooltip"
                          (click)="getPatient(patient._id)"
                          ><i class="material-icons">&#xE417;</i></a
                        >
                        <a
                          type="button"
                          class="edit"
                          title="Edit"
                          (click)="openUpdateModal(patient._id)"
                        >
                          <i class="material-icons">&#xE254;</i>
                        </a>
                        <a
                          type="button"
                          class="delete"
                          title="Delete"
                          (click)="openAlertModal(patient._id)"
                        >
                          <i class="material-icons">&#xE872;</i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
