<!DOCTYPE html>
<html>
  <body>
    <section>
      <div class="container">
        <div class="row vh-100 align-items-center">
          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
          <p class="text-center h1 fw-bold mx-1 mt-5">
            Help Us To Improve
          </p>
          <div class="col-md-8 col-lg-6 col-xl-6">
          
            
              <div class="align-items-center mb-2">
                <div class="form-outline flex-fill mb-0">
                  <label class="form-label fs-5" for="form3Example1c"
                    >Your Name</label
                  >
                  <input
                    type="text"
                    id="form3Example1c"
                    class="form-control"
                    placeholder="Enter a full name"
                  />
                </div>
              </div>

              <div class="align-items-center mb-2">
                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <label class="form-label fs-5" for="form3Example3c"
                    >Your Email</label
                  >
                  <input
                    type="email"
                    id="form3Example3c"
                    class="form-control"
                    placeholder="Enter a email address"
                  />
                </div>
              </div>

              <div class="align-items-center mb-4">
                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <label class="form-label fs-5" for="form3Example4c"
                    >Comment</label
                  >
                  <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="3"
                    placeholder="Write your comment"
                  ></textarea>
                </div>
              </div>
              <div class="d-flex flex-row align-items-center">
                <button
                  type="button"
                  class="btn btn-primary"
                  id="commentbutton"
                >
                  Send Comment
                </button>
              </div>
            
          </div>
          <div class="col"></div>
          <div class="col-md-8 col-lg-6 col-xl-5">
            <img
              src="/assets/img/comments.jpg"
              class="img-fluid"
              alt="Sample image"
            />
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <h3 class="text-center mb-4 mt-5 pb-2 text-primary fw-bold">FAQ</h3>
        <p class="text-center mb-5">
          Find the answers for the most frequently asked questions below
        </p>

        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
              <i class="far fa-paper-plane text-primary pe-2"></i> What is able to recognize EkMind?
            </h6>
            <p>
              It can recognize faces, focus on your expressions to determine emotion. 
            </p>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
              <i class="fas fa-rocket text-primary pe-2"></i> What about genre?
            </h6>
            <p>
              For the moment, is limited to male, female and undefined, the latter may appear depending on the person's hair.

            </p>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
              <i class="fas fa-pen-alt text-primary pe-2"></i> Which emotions detect?
            </h6>
            <p>              
              Recognizes anger, disgust, sadness, fear, happiness, surprise and neutral.
            </p>
          </div>

          
          <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
              <i class="fas fa-user text-primary pe-2"></i> Who can use the software?
            </h6>
            <p>
              Our software is mainly focused on psychologists, so that they have an extra tool in their sessions. 
              However, if someone wants to use it for other types of work, but with some restrictions.
            </p>
          </div>
          

          <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
              <i class="fas fa-home text-primary pe-2"></i> 
            </h6>
            <p>
             
            </p>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
              <i class="fas fa-book-open text-primary pe-2"></i> How to calculate the age?
            </h6>
            <p>
              The age usually varies, sometimes it may be exact but as the person changes facial 
              expression or makes some kind of movement, the age may go up.
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
  <footer class="flex-md-row text-md-start py-4 px-4 px-xl-5">
    <!-- Copyright -->
    <div class="text-white text-center mb-3 mb-md-0">
      Copyright © 2020. All rights reserved.
    </div>
  </footer>
</html>
