<!DOCTYPE html>
<html>
  <body>
    <section>
      <div class="container">
        <div class="row vh-100 align-items-center">
          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
          <p class="text-center h1 fw-bold mx-1 mt-5">
            ¡Ayúdanos a mejorar!
          </p>
          <div class="col-md-8 col-lg-6 col-xl-6">
          
            
              <div class="align-items-center mb-2">
                <div class="form-outline flex-fill mb-0">
                  <label class="form-label fs-5" for="form3Example1c"
                    >Nombre</label
                  >
                  <input
                    type="text"
                    id="form3Example1c"
                    class="form-control"
                    placeholder="Enter a full name"
                  />
                </div>
              </div>

              <div class="align-items-center mb-2">
                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <label class="form-label fs-5" for="form3Example3c"
                    >Correo electrónico</label
                  >
                  <input
                    type="email"
                    id="form3Example3c"
                    class="form-control"
                    placeholder="Enter a email address"
                  />
                </div>
              </div>

              <div class="align-items-center mb-4">
                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <label class="form-label fs-5" for="form3Example4c"
                    >Comentario</label
                  >
                  <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="3"
                    placeholder="Write your comment"
                  ></textarea>
                </div>
              </div>
              <div class="d-flex flex-row align-items-center">
                <button
                  type="button"
                  class="btn btn-primary"
                  id="commentbutton"
                >
                  Enviar Comentario
                </button>
              </div>
            
          </div>
          <div class="col"></div>
          <div class="col-md-8 col-lg-6 col-xl-5">
            <img
              src="/assets/img/comments.jpg"
              class="img-fluid"
              alt="Sample image"
            />
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <h3 class="text-center mb-4 mt-5 pb-2 text-primary fw-bold">FAQ</h3>
        <p class="text-center mb-5">
          Aquí abajo encontrarás la respuesta las preguntas mas frecuentes
        </p>

        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
              <i class="far fa-paper-plane text-primary pe-2"></i> ¿Qué logra reconocer EkMind?
            </h6>
            <p>
              Es capaz de reconocer rostros, enfocado a las expresiones faciales para determinar la emoción. 
            </p>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
              <i class="fas fa-rocket text-primary pe-2"></i> ¿Qué sucede con el género?
            </h6>
            <p>
              Por el momento, está limitado a femenino, masculino e indefinido, el cual puede variar dependiendo del estilo de cabello de la persona.
            </p>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
              <i class="fas fa-pen-alt text-primary pe-2"></i> ¿Qué emociones detecta?
            </h6>
            <p>              
              Es capaz de reconocer; enojo, disgusto, tristeza, miedo, felicidad, sorpresa y estado neutral.            </p>
          </div>

          
          <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
              <i class="fas fa-user text-primary pe-2"></i> ¿Quién puede utilizar el software?
            </h6>
            <p>
              Nuestro software está enfocado principalmente a los psicólogos, para que tengan una herramienta más en sus sesiones. 
              Sin embargo, puede ser utilizado incluso en entrevistas de trabajo para tener un poco más de control.
            </p>
          </div>
          

          <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
              <i class="fas fa-home text-primary pe-2"></i> 
            </h6>
            <p>
             
            </p>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
              <i class="fas fa-book-open text-primary pe-2"></i> ¿Cómo se calcula la edad?
            </h6>
            <p>
              La edad suele variar, a veces puede ser exacta, pero a medida que la persona cambia de 
              expresión facial o hace algún tipo de movimiento, la edad puede aumentar.
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
  <footer class="flex-md-row text-md-start py-2 px-2 px-xl-5">
    <!-- Copyright -->
    <div class="text-white text-center mb-3 mb-md-0">
      Copyright © 2020. All rights reserved.
    </div>
  </footer>
</html>
