<div class="modal-delete">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Patient</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
        <h2 mat-dialog-title>Wait!</h2>
        <strong>¿Estás seguro de querer eliminar este paciente?</strong>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
        <button class="btn btn-danger" (click)="deletePatient()">Eliminar</button>
    </div>
</div>